doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/assets/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/assets/util.js")
    script(src="/assets/store.js")
  body
    block content