extends layout

block content
    style.
        .tip{
            color:red;
        }
    div.page
        form(onsubmit="return checkSubmit(this)")
            p
                label phone:
                input(name="phone")
            p
                label passwd:
                input(name="passwd")
            p
                input(type="submit" value="submit!")
                &nbsp;&nbsp;
                a(href="/demo/login") login
            p.tip#tip

        script.
            //alert(123)
            var tip=document.getElementById('tip');
            function checkSubmit(f){//debugger;
                var s= $(f).serialize();
                $.get('/api/user/register/?'+s,function(r){
                    console.log('login',r);

                    tip.innerHTML=r.userId?'your userid is '+r.userId:'no user!';
                });
                return false;
            }


